{% extends 'Framework/navbar.html' %} <!--coppies the base.html format-->
{% load static %}

{% block content %} 
<h2>Supplier Info</h2>
<p>Welcome! <b><u>{{d.user}}</u></b></p>
<div class="container">
<table class="table table-striped">
    <thead >
        <tr>
            <th class="table-dark" scope="col"> Name </th>
            <th class="table-dark" scope="col"> City </th>
            <th class="table-dark" scope="col"> Country </th>
            <th class="table-dark" scope="col"> Created At </th>        
            <th class="table-dark" scope="col"> </th>    
        </tr>
    </thead>
    <tbody>
        {% for s in suppliers%} <!--bottles var came from views.py-->
        <tr>
            <td> {{ s.name }} </td>
            <td> {{ s.city }} </td>
            <td> {{ s.country }} </td>
            <td> {{ s.created_at }} </td>
            <td><a class="btn btn-dark" href="{% url 'bottles' pk=d.pk %}"> Link to Supplier's Site </a></td>
         </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
