{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAZAPEE | Log In</title>
   
    <!-- This is where all of the editable styles should be placed in -->
   <link rel="stylesheet" href="{% static 'style.css' %}"> 
   <script src="{% static 'script.js' %}"></script>

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
         body, html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .base-container-fluid h1{
        font-family: 'Roboto Condensed';   
        color:  var(--point-color); 
    }


    </style>
</head>
<body>

   <div class="base-container-fluid container-element-form ">
        <h1>LazaPee</h1>
        <p style ="color:#A7A8B6"> Sign in By entering the information Below</p>
        
        <form id="login_form" method="POST" action="{% url 'Login' %}">
            {% csrf_token %}
            <div>
                <label for="username" class="form-label">Username or Email</label>
                {% if error_message %}
                <a class="link-2 right">{{ error_message }}</a>
                {% endif %}

                <!-- will change the messages to something that pops out then exits after -->
                {% if messages %}
                {% for message in messages %}
                    <a class="link-2 right">{{ message }}</a>
                {% endfor %}
                {% endif %}

                <input type="text" class="form-control space-bottom" id="username" name="username" placeholder="Email">
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                {% if error_message_pss %}
                <a class="link-2 right">{{ error_message_pss }}</a>
                {% endif %}
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div  class="form-elements">
                <div class ="link-1 right">Forgot your password?</div>
                <div><button type="submit" class="btn btn-Blue long-button">Submit</button></div>    
                <div class="subtitle"> Need an account? <a class ="link-1 right" href="{% url 'sign-up_view' %}">Sign-up</a></div>
            </div>
        </form>
        

    </div>
    <div class="circle"></div>
</body>
</html>
    
</body>
</html>