{% extends 'Framework/navbar.html' %} <!--coppies the base.html format-->
{% load static %}

{% block content %} 
<h2>Pay Slip</h2>

<div class="container-fluid ">
    <div class="row  text-center" >
        <div class="col-12">
            <label for="Payroll For" style="margin-bottom: 10px;">PayRoll For:</label> <!--Should be a drop down option-->
            <select name="supplier-names" id="supplier-names" style="width: 415px; height: 50px;"> 
                <option value="" >Choose one...</option>
                    <option value="All">All Emplyoees</option>
                {% for e in employee %}
                    <option value="{{ e.id_number}}">{{ e.id_number }}</option>
                {% endfor %}
             </select>     
        </div>    
    </div>
    <div class="row">
        <div class="col-4">
            <label for="supplier" style="margin-bottom: 10px;">Month:</label> <!--Should be a drop down option-->
            <select name="supplier-names" id="supplier-names" style="width: 415px; height: 50px;"> 
                <option name="" value="" style="display:none;">Choose one...</option>
                <option name="January" value="Jan">January</option>
                <option name="February" value="Feb">February</option>
                <option name="March" value="Mar">March</option>
                <option name="April" value="Apr">April</option>
                    <option name="May" value="May">May</option>
                <option name="June" value="Jun">June</option>
                <option name="July" value="Jul">July</option>
                <option name="August" value="Aug">August</option>
                    <option name="September" value="Sep">September</option>
                <option name="October" value="Oct">October</option>
                <option name="November" value="Nov">November</option>
                <option name="December" value="Dec">December</option>
             </select>  
        </div>  
        <div class="col-4">
            <label for="cost">Year</label>
            <input type="text" class="form-control mb-3" id="cost">
        </div>     
        <div class="col-4">
            <label for="supplier" style="margin-bottom: 10px;">Cycle:</label> <!--Should be a drop down option-->
            <select name="supplier-names" id="supplier-names" style="width: 415px; height: 50px;"> 
                <option value="" >Choose one...</option>
                <option value="1">1</option> 
                <option value="2">2</option> 
             </select>
            
        </div>      
        <div class="col-12  text-center"> <!-- Adjusted column width to full width -->
            <a href="#" class="btn btn-primary">Submit</a> <!-- Corrected typo in 'Submit' -->
        </div>
    </div>

</div>
<h2>Pay Summary</h2>
<table class="table table-striped">
    <thead >
        <tr>
            <th class="table-dark" scope="col"> ID Number </th>
            <th class="table-dark" scope="col"> Date </th>
            <th class="table-dark" scope="col"> Cycle </th>   
            <th class="table-dark" scope="col"> Total Pay</th>   
            <th class="table-dark" scope="col"> Options </th>           
        </tr>
    </thead>
    <tbody>
        {% for p in payslip%} 
        <tr>
            <td> {{ p.id_number.id_number }} </td>
            <td> {{ p.month }} {{ p.date_range }}, {{ p.year }} </td>
            <td> {{ p.pay_cycle }} </td>
            <td> {{ p.total_pay }} </td>
            
            <td>
                <a href="{% url 'view_payslip' pk=p.pk%}"  class="btn btn-danger">View</a>        
            </td>
         </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
