{% extends 'Framework/navbar.html' %} <!--coppies the base.html format-->
{% load static %}

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h4><strong>Client</strong> Details</h4>
            <ul class="list-unstyled">
                <li><strong>NAME:</strong> {{p.id_number.name}}</li>
                <li><strong>ID NUMBER:</strong> {{p.id_number.id_number}}</li>
            </ul>
         </div>

        <div class="col-md-6 col-sm-6" style="text-align: right">
            <h4><strong>Other</strong> Details</h4>
            <ul class="list-unstyled">
                <li><strong>DATE:</strong> {{ p.month }} {{ p.date_range }}, {{ p.year }}</li>
                <li><strong>PAYSLIP ID:</strong> {{ p.pk }}</li> 
            </ul>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            <div>
                <table class="pay-table">
                    <thead>
                        <tr>
                            <th>CYCLE {{ p.pay_cycle}}</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>EARNINGS</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>AMOUNT:</strong></td>
                        </tr>
                        <tr>
                            <td><div>Base Pay (Rate / 2)</div></td>
                            <td></td>
                            <td>{{ hr }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div>Allowances</div></td>
                            <td></td>
                            <td>{{p.id_number.allowance}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #b6b6b6;">Overtime</td>
                            <td></td>
                            <td style="border-bottom: 1px solid #b6b6b6;">{{p.overtime}}</td>
                            <td style="border-bottom: 1px solid #b6b6b6;"></td>
                        </tr>   
                        <tr>
                            <td><strong>GROSS PAY</strong></td>
                            <td></td>
                            <td></td>
                            <td><strong>PHP {{ gross }}</strong></td>
                        </tr>
          
                        <tr style="border-top: 1px solid #b6b6b6;">
                            <td><strong>DEDUCTIONS:</strong></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div>W/HOLDING TAX</div></td>
                            <td></td>
                            <td>{{p.deductions_tax}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><div>{{ dd11 }}</div></td>
                            <td></td>
                            <td>{{ dd12 }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="border-bottom: 1px solid #b6b6b6;">{{ dd21 }}</td>
                            <td></td>
                            <td style="border-bottom: 1px solid #b6b6b6;">{{ dd22 }}</td>
                            <td style="border-bottom: 1px solid #b6b6b6;"></td>
                        </tr>
                        <tr style="border-bottom: 1px solid #b6b6b6;">
                            <td><div><strong>TOTAL DEDUCTIONS</strong></div></td>
                            <td></td>
                            <td></td>
                            <td><strong>PHP {{ ddct }}</strong></td>
                        </tr>
                        <tr>
                            <td> <h4><strong>NET PAY</strong></h4></td>
                            <td></td>
                            <td></td>
                            <td><h4><strong>PHP {{p.total_pay}}</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a  class="btn btn-secondary" href="{% url 'payslips'  pk=d.pk %}"> Back </a>
</div>



{% endblock %}
