{% extends 'Framework/navbar.html' %} <!--coppies the base.html format-->
{% load static %}

{% block content %} 
<h4>Pay Slip</h4>
<div class="col-md-8">

    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Dish Details:</h5>
        </div>
        <div class="card-body">

            
            <h2> {{w.SKU}} </h2>
            <p>
                Brand: {{w.brand}}
            </p>
            <p>
                Cost: {{w.cost}}
            </p>
            <p>
                <a href="{% url 'supply' pk=d.pk%}"  class="btn btn-primary">Cancel</a>

            </p>
            
        </div>
    </div>

</div>
{% endblock %}
