<!-- 
Loads at localhost:8000/change_password/<int:pk>/
Shows three text boxes, a confirm button, and a cancel button.
The first box prompts the user to supply the current password.
The second box prompts the user to supply the new password.
The third box prompts the user to supply the new password again.
If the first box contains the actual current password, and the second and third boxes match, the password will be updated. The user is then navigated back to the manage account page.
The cancel button will navigate the user back to the manage account page. 

-->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            color: #333;
        }
    </style>
       
       
</head>
<body>
    <form method="POST" action="{% url 'change_password' pk=d.pk%}">{% csrf_token %}

        <div class="form-group">
            <div class="row">
                <!-- Current Password textbox -->
                <label for="currentPassword"> Current Password: </label>
                <input type="password" style="width: 200px; margin: auto;" id="dpassword" name="dpassword">
            </div>
            <br>
            <div class="row">
                <!-- New Password textbox -->
                <label for="newPassword"> New Password: </label>
                <input type="password" style="width: 200px; margin: auto;" id="dnew_password" name="dnew_password">
                {% if error_message %}
                <a class="link-2 right">{{ error_message }}</a>
                {% endif %}
            </div>
            <br>
            <div class="row">
                <!-- Confirm New Password textbox -->
                <label for="confirmNewPassword"> Confirm New Password: </label>
                <input type="password" style="width: 200px; margin: auto;" id="dconfirm_new_password" name="dconfirm_new_password">
            </div>
            <br>
            <div>
                <button type="submit" href="{% url 'manage_account' pk=d.pk %}">Confirm</button>
                <a class="btn" href="{% url 'manage_account' pk=d.pk %}">Cancel</a>
            </div>
            
            <div>
            </div>
        </div>
    </form>
</body>
</html>


